       *{
       	margin:0;
       	padding:0;
       	box-sizing: border-box;
       	font-family: 'Microsoft Yahei';
       	transition: all 0.5s;
       	text-decoration: none;
       }
		html,body{
			width:100%;
			height:100%;
			font-size:15px;
		}
		.wrapper{
			width:100%;
			height:100%;
			background-color:rgb(102, 86, 123);
		}
		.tv_wrapper{
			width:60rem;
			height: 100%;
			margin:0 auto;
            animation:showDown 1s ease-in-out 0.2s backwards;
            -webkit-animation:showDown 1s ease-in-out 0.2s backwards;
            -moz-animation:showDown 1s ease-in-out 0.2s backwards;
            -o-animation:showDown 1s ease-in-out 0.2s backwards;
            -ms-animation:showDown 1s ease-in-out 0.2s backwards;
		}
		@-webkit-keyframes showDown{
            0%{	-webkit-transform:translateY(-10rem);
            	opacity: 0;
            }
            100%{-webkit-transform:translateY(0);
            	opacity: 1;
            }
        }
        @-moz-keyframes showDown{
            0%{	
            	-webkit-transform:translateY(-10rem);
            	opacity: 0;
            }
            100%{
            	-webkit-transform:translateY(0);
            	opacity: 1;
            }
        }
        @-o-keyframes showDown{
            0%{	
            	-webkit-transform:translateY(-10rem);
            	opacity: 0;
            }
            100%{
            	-webkit-transform:translateY(0);
            	opacity: 1;
            }
        }
        @-ms-keyframes showDown{
            0%{	
            	-webkit-transform:translateY(-10rem);
            	opacity: 0;
            }
            100%{
            	-webkit-transform:translateY(0);
            	opacity: 1;
            }
        }
        @keyframes showDown{
            0%{	
            	-webkit-transform:translateY(-10rem);
            	opacity: 0;
            }
            100%{
            	-webkit-transform:translateY(0);
            	opacity: 1;
            }
        }
		.tv{
			position: relative;
			float: left;
			width:46rem;
			height:27rem;
			background-color:transparent;
		    border: .6rem solid #777272;
		    border-radius: 1rem;
		}
		.tv_inner{
		   margin:1rem;
		   border: .6rem solid #777272;
		   border-radius: 1rem;
		   width: 38rem;
		   height:24rem;
		   background-color:#9f9cd4;
		   padding: 1rem;
		}
		.voice{
			float: right;
			margin:-19rem .4rem 0 0;
			width:5rem;
			height:10rem;
		}
		.myPhoto{
			position: absolute;
			width:8rem;
			height: 8rem;
			left:50%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			border-radius: 50%;
			border:.4rem solid rgb(102, 86, 123);
			background-image: url('images/myPhoto.png');
			background-size:cover;
			opacity: 0;
			z-index: 100;
		}
		.myPhoto:hover{
			opacity: 1;
		}
		.myPhoto_moved{
		    position: absolute;
		    left: 6.7rem;
			width:6rem;
			height: 6rem;
			background-color:#59BFEE;
			border-radius: 50%;
			border:.4rem solid rgb(102, 86, 123);
			background-image: url('images/myPhoto.png');
			background-size:cover;
		}
		.myPhoto:after{
			content: '';
			text-align: center;
			line-height: 2rem;
			position: absolute;
			width: 8rem;
			height: 2rem;
			background-color:#73899C;
			bottom:-4rem;
			border:.2rem solid  rgb(102, 86, 123);
            left:-0.67rem;
            opacity: .7;
		}
		.myPhoto_moved:after{
			content: 'me';
			text-align: center;
			line-height: 1.6rem;
			position: absolute;
			width: 8rem;
			height: 1.6rem;
			background-color:#73899C;
			bottom:-3rem;
			border:.2rem solid  rgb(102, 86, 123);
            left:-1.3rem;
            opacity: .7;

        }
        .shade{
            position: absolute;
			width:8rem;
			height: 8rem;
			left:50%;
			transform: translateX(-50%);
			background-image:url('images/shade.jpg');
			background-size: contain;
			border-radius: 50%;
			border:.4rem solid rgb(102, 86, 123);
        }
        .shade_moved{
        	position: absolute;
		    left: 6.7rem;
			width:6rem;
			height: 6rem;
			background-color:red;
			border-radius: 50%;
			border:.4rem solid  rgb(102, 86, 123);
			background-size:cover;
        }
        .myPhoto:hover + .shade{
        	transform-origin: 0% 20%;
        	-webkit-transform-origin: 0% 20%;
        	-moz-transform-origin: 0% 20%;
        	-ms-transform-origin: 0% 20%;
        	-o-transform-origin: 0% 20%;
        	transform: rotate(180deg);
        	-webkit-transform: rotate(180deg);
        	-moz-transform: rotate(180deg);
        	-ms-transform: rotate(180deg);
        	-o-transform: rotate(180deg);
        }
		.icon{
			position: absolute;
			width:35rem;
			height:10rem;
			bottom: 2rem;
		}
		.icon div{
			float: left;
			margin:1rem;
			width:6.7rem;
			height:6.7rem;
		}
		.icon div:first-of-type{
			padding-top:1rem
		}
		.icon div:nth-of-type(2){
			padding-left:.6rem
		}
		.icon_moved{
			display: none;
		}
		[class^='icon_title']{
			position: absolute;
			width:7.7rem;
			height:2rem;
			background-color: #66567b;
			border:0.3rem solid #777272;
			text-align: center;
			line-height: 1.4rem;
			bottom:2rem;
			transition: all 0.5s;
			overflow:hidden;
			z-index: 10;
		}
		[class^='icon_title'] p:hover{
		   transform: translateY(-1.4rem);
		}
		.icon_title1{
			left:3rem;
		}
		.icon_title2{
			left:11.5rem;
		}
		.icon_title3{
			bottom: 2rem;
			left:20rem;
		}
		.icon_title4{
			left:29rem;
		}
		.icon_title1_moved{
             left:3rem;
             bottom:12rem;
		}
		.icon_title2_moved{
			left:3rem;
			bottom:9rem;
		}
		.icon_title3_moved{
			left:3rem;
			bottom:6rem;
		}
		.icon_title4_moved{
			left:3rem;
			bottom:3rem;

		}
		.skill{
			position: absolute;
			width:18rem;
			height: 18rem;
			margin:3rem 0 0 14rem;
			opacity:0;
		}
		.skill div{
			display: inline-block;
			opacity:0;
			color:#fff;
		}
		.skill div:first-of-type{
			width:4rem;
			height:4rem;
			text-align: center;
			line-height:3.4rem;
			border-radius:50%;
			background-color:#F08CC9;
			border: .3rem solid #DBA1A1;
			margin:.3rem .7rem 0 0;
			-webkit-transition: all 1s 1.2s;
	        -moz-transition: all 1s 1.2s;
	        -ms-transition: all 1s 1.2s;
	        -o-transition: all 1s 1.2s;
	        transition: all 1s 1.2s;
		}
		.skill div:nth-of-type(2){
			width:4rem;
			height:4rem;
			text-align: center;
			line-height:3.4rem;
			border-radius:50%;
			background-color:#909AE1;
			border: .3rem solid #DBA1A1;
			margin:.3rem .7rem 0 0;
            -webkit-transition: all 2s 0.8s;
	        -moz-transition: all 2s 0.8s;
	        -ms-transition: all 2s 0.8s;
	        -o-transition: all 2s 0.8s;
	        transition: all 2s 0.8s;
		}
		.skill div:nth-of-type(3){
			width:6rem;
			height:6rem;
			text-align: center;
			line-height:5.4rem;
			border-radius:50%;
			background-color:#96E289;
			border: .3rem solid #DBA1A1;
			margin:.3rem .7rem 0 0;
		    -webkit-transition: all 2s;
	        -moz-transition: all 2s;
	        -ms-transition: all 2s;
	        -o-transition: all 2s;
	        transition: all 2s;
		}
		.skill div:nth-of-type(4){
			width:3rem;
			height:3rem;
			text-align: center;
			line-height:2.6rem;
			border-radius:50%;
			background-color:#E0E48E;
			border: .2rem solid #DBA1A1;
			margin:.3rem .7rem 0 0;
		    -webkit-transition: all 2s 0.8s;
	        -moz-transition: all 2s 0.8s;
	        -ms-transition: all 2s 0.8s;
	        -o-transition: all 2s 0.8s;
	        transition: all 2s 0.8s;
		}
		.skill div:nth-of-type(5){
			width:4rem;
			height:4rem;
			text-align: center;
			line-height:3.4rem;
			border-radius:50%;
			background-color: #E59864;
			border: .3rem solid #DBA1A1;
			margin:.3rem .7rem 0 0;
			-webkit-transition: all 1.8s 1.2s;
	        -moz-transition: all 1.8s 1.2s;
	        -ms-transition: all 1.8s 1.2s;
	        -o-transition: all 1.8s 1.2s;
	        transition: all 1.8s 1.2s;
		}
		.skill div:nth-of-type(6){
			width:3.5rem;
			height:3.5rem;
			text-align: center;
			line-height:2.9rem;
			border-radius:50%;
			background-color: #D8B5A8;
			border: .3rem solid #DBA1A1;
			margin:.3rem .7rem 0 0;
			-webkit-transition: all 2s 1.5s;
	        -moz-transition: all 2s 1.5s;
	        -ms-transition: all 2s 1.5s;
	        -o-transition: all 2s 1.5s;
	        transition: all 2s 1.5s;
		}
		.skill div:nth-of-type(7){
			width:3rem;
			height:3rem;
			text-align: center;
			line-height:2.4rem;
			border-radius:50%;
			background-color: #783F81;
			border: .3rem solid #DBA1A1;
			margin:.3rem .7rem 0 0;
	      	-webkit-transition: all 1.4s 0.9s;
	       -moz-transition: all 1.4s 0.9s;
	       -ms-transition: all 1.4s 0.9s;
	       -o-transition: all 1.4s 0.9s;
	       transition: all 1.4s 0.9s;
		}
		.skill div:nth-of-type(8){
			width:4.5rem;
			height:4.5rem;
			text-align: center;
			line-height:3.9rem;
			border-radius:50%;
			background-color:#B2C1EF;
			border: .3rem solid #DBA1A1;
			margin:.3rem .7rem 0 0;
			-webkit-transition: all 1.8s 0.7s;
	        -moz-transition: all 1.8s 0.7s;
	        -ms-transition: all 1.8s 0.7s;
	        -o-transition: all 1.8s 0.7s;
	        transition: all 1.8s 0.7s;
		}
		.skill div:nth-of-type(9){
			width:5rem;
			height:5rem;
			text-align: center;
			line-height:4.4rem;
			border-radius:50%;
			background-color:#B8BEA4;
			border: .3rem solid #DBA1A1;
			margin:.3rem .7rem 0 0;
			-webkit-transition: all 1.5s 2s;
	        -moz-transition: all 1.5s 2s;
	        -ms-transition: all 1.5s 2s;
	        -o-transition: all 1.5s 2s;
	        transition: all 1.5s 2s;
		}
		.skill div:nth-of-type(10){
			width:5rem;
			height:5rem;
			text-align: center;
			line-height:4.4rem;
			border-radius:50%;
			background-color:#879FA4;
			border: .3rem solid #DBA1A1;
			margin:.3rem .7rem 0 0;
			-webkit-transition: all 2s 1.1s;
	        -moz-transition: all 2s 1.1s;
	        -ms-transition: all 2s 1.1s;
	        -o-transition: all 2s 1.1s;
	        transition: all 2s 1.1s;
		}
		.skill .move{
			opacity: 1;
		}
		.otherInfo{
			position: absolute;
			width: 23rem;
			height:20rem;
			margin:-0.8rem 0 0 12rem;
			animation: enlarge 1s linear;
			-webkit-animation:enlarge 1s linear;
	        -moz-animation:enlarge 1s linear;
	        -o-animation:enlarge 1s linear;
	        -ms-animation:enlarge 1s linear;
			display: none;
		}
        .certification{
        	position: absolute;
        	width:23rem;
        	left:-1rem;
        	height:20rem;
        	bottom:-1rem;
        }
        .certification img{
        	width:3rem;
        	margin:0.5rem;
        }
        .certification div{
        	position: relative;
        	width:22rem;
        	height:4rem;
        	margin:1rem 0.5rem;
        	border-bottom: .2rem dashed #F3371D;
        	opacity:1;
        }
        .certification .blog{
        	border-bottom: none;
        }
        .certification p{
        	position: absolute;
        	width:18rem;
        	height:4rem;
        	left:4rem;
        	top:0;
        	font-size:.9rem;
        }
        .note{
        	animation: appear 1s linear 0.6s backwards;
        	-webkit-animation:appear 1s linear 0.6s backwards;
	        -moz-animation:appear 1s linear 0.6s backwards;
	        -o-animation:appear 1s linear 0.6s backwards;
	        -ms-animation:appear 1s linear 0.6s backwards;
        }
        .github{
        	animation: appear 1s linear 1.6s backwards; 
        	-webkit-animation:appear 1s linear 1.6s backwards;
	        -moz-animation:appear 1s linear 1.6s backwards;
	        -o-animation:appear 1s linear 1.6s backwards;
	        -ms-animation:appear 1s linear 1.6s backwards;
        }
        .english{
        	animation: appear 1s linear  2.6s backwards;
        	-webkit-animation:appear 1s linear 2.6s backwards;
	        -moz-animation:appear 1s linear 2.6s backwards;
	        -o-animation:appear 1s linear 2.6s backwards;
	        -ms-animation:appear 1s linear 2.6s backwards;
        }
        .blog{
        	animation: appear 1s linear 3.6s backwards;
        	-webkit-animation:appear 1s linear 3.6s backwards;
	        -moz-animation:appear 1s linear 3.6s backwards;
	        -o-animation:appear 1s linear 3.6s backwards;
	        -ms-animation:appear 1s linear 3.6s backwards;
        }

        @keyframes appear{
        	0%{opacity: 0}
        	100%{opacity: 1;}
        }
        @-webkit-keyframes appear{
        	0%{opacity: 0}
        	100%{opacity: 1;}
        }
        @-moz-keyframes appear{
        	0%{opacity: 0}
        	100%{opacity: 1;}
        }
        @-o-keyframes appear{
        	0%{opacity: 0}
        	100%{opacity: 1;}
        }
        @-ms-keyframes appear{
        	0%{opacity: 0}
        	100%{opacity: 1;}
        }
        /*
        .cerTitle{
        	position: absolute;
        	width:18rem;
        	height:20rem;
        	bottom:.5rem;
        	left:4rem;   
        	  }
        .cerTitle p{
        	padding: .3rem;
        	font-size:1rem;
        	font-size:.8rem;
        	width:17rem;
        	height:4rem;
        	border:.2rem solid #938D8D;
        	margin:1.1rem .5rem;
        }
        */
		@keyframes enlarge{
			0%{transform:scale(0);}
			100%{transform: scale(1);}
		}
		@-webkit-keyframes enlarge{
			0%{-webkit-transform:scale(0);}
			100%{-webkit-transform: scale(1);}
		}
		@-o-keyframes enlarge{
			0%{-o-transform:scale(0);}
			100%{-o-transform: scale(1);}
		}
		@-moz-keyframes enlarge{
			0%{-moz-transform:scale(0);}
			100%{-moz-transform: scale(1);}
		}
		@-ms-keyframes enlarge{
			0%{-ms-transform:scale(0);}
			100%{-ms-transform: scale(1);}
		}
		.intern{
			text-align: center;
			width: 23rem;
			height:20rem;
			margin:2rem 0 0 12rem;
	        -webkit-animation:moveUp 1s ease-in-out 0.2s backwards;
	        -moz-animation:moveUp 1s ease-in-out 0.2s backwards;
	        -o-animation:moveUp 1s ease-in-out 0.2s backwards;
	        -ms-animation:moveUp 1s ease-in-out 0.2s backwards;
            animation:moveUp 1s ease-in-out 0.2s backwards;
			display: none;
		}
		.intern h3,.intern h4,.intern span{
			color:#F04F26;
			margin:.5rem;
		}
		.intern ol{
			text-align: left;
		}
		.intern li{
			margin:.5rem;
		}
        @-webkit-keyframes moveUp{
        0%{	
        	-webkit-transform:translateY(3rem);
        	opacity: 0;
        }
        100%{
        	-webkit-transform:translateY(0);
        	opacity: 1;
        }
        }
        @-moz-keyframes moveUp{
        0%{
        	-moz-transform:translateY(3rem);
        	opacity: 0;
        }
        100%{
        	-moz-transform:translateY(0);
        	opacity: 1;
        }
    }
        @-o-keyframes moveUp{
        0%{	
        	-o-transform:translateY(3rem);
        	opacity: 0;
        }
        100%{
        	-o-transform:translateY(0);
        	opacity: 1;
        }
        }
        @-ms-keyframes moveUp{
        0%{	
        	-ms-transform:translateY(3rem);
        	opacity: 0;
        }
        100%{
        	-ms-transform:translateY(0);
        	opacity: 1;
        }
        }
        @keyframes moveUp{
        0%{	transform:translateY(3rem);opacity: 0;}
        100%{transform:translateY(0);opacity: 1;}}
		/*
		.school:after{
			position: absolute;
			text-align: center;
			left:.5rem;
			bottom:.5rem;
		    content: '重庆邮电大学';
		    background-color: #C5DBC6;
			border:0.3rem solid #BCC9CC;
			width:7rem;
			height: 1.4rem;
			opacity: 1;
		}
		.edu:after{
			position: absolute;
			text-align: center;
			left:9.2rem;
			bottom: .5rem;
		    content: '应届毕业生';
		    background-color: #C5DBC6;
			border:0.3rem solid #BCC9CC;
			width:7rem;
			height: 1.3rem;
		}
		.location:after{
			position: absolute;
			text-align: center;
			left:18rem;
			bottom: .5rem;
		    content: '期待坐标:**';
		    background-color: #C5DBC6;
			border:0.3rem solid #BCC9CC;
			width:7rem;
			height: 1.4rem;
		}
		.html:after{
			position: absolute;
			text-align: center;
			left:26.6rem;
			bottom:.5rem;
		    content: 'FE';
		    background-color: #C5DBC6;
			border:0.3rem solid #BCC9CC;
			width:7rem;
			height: 1.4rem;
		}
		*/
		.circular{
			padding-top:2rem;
		}
		.circular li{
			display: inline-block;
			width:1rem;
			height:1rem;
			background-color:#BCC9CC;
			border-radius: 50%;
            margin:.3rem .1rem .1rem .1rem;
		}
		.tv .btn{
			display: block;
			float: right;
			width:3.5rem;
			height:3.5rem;
			border-radius: 50%;
			background-color: #dc6161;
			margin:-5rem 1.3rem 0 0;
			border:.7rem solid #777272;
			border-radius: 50%;
			cursor: pointer;
		}
		.controller{
			position: relative;
			float: right;
			width:12rem;
			height:27rem;
			background-color: transparent;;
			border: .6rem solid #777272;
			border-radius:1rem;
		}
		.confirm:hover{
			background-color: #E2B9B9;
			box-shadow: 0 0 .5rem #F62D2D;

		}
		.finger{
			position: absolute;
			width:3rem;
			height:3rem;
			right:1.4rem;
			bottom:-2rem;
			background-image: url('images/finger.png');
			background-size:cover;
			opacity: 0;
		}
		.finger_press{
			animation:press 1.6s linear ;
			-webkit-animation:press 1.6s linear ;
	        -moz-animation:press 1.6s linear ;
	        -o-animation:press 1.6s linear ;
	        -ms-animation:press 1.6s linear ;
            animation:press 1.6s linear ;
		}
		@keyframes press{
			0%{
				width:3rem;
				height:3rem;
				bottom:-2rem;
				opacity:0;
			}
			80%{
				width:2.5rem;
				height:2.5rem;
				bottom:1.3rem;
				opacity: 1;
			}
			100%{
				width:3rem;
				height:3rem;
				bottom:0;
				opacity:0;
			}
		}
		@-webkit-keyframes press{
			0%{
				width:3rem;
				height:3rem;
				bottom:-2rem;
				opacity:0;
			}
			80%{
				width:2.5rem;
				height:2.5rem;
				bottom:1.3rem;
				opacity: 1;
			}
			100%{
				width:3rem;
				height:3rem;
				bottom:0;
				opacity:0;
			}
		}
		@-moz-keyframes press{
			0%{
				width:3rem;
				height:3rem;
				bottom:-2rem;
				opacity:0;
			}
			80%{
				width:2.5rem;
				height:2.5rem;
				bottom:1.3rem;
				opacity: 1;
			}
			100%{
				width:3rem;
				height:3rem;
				bottom:0;
				opacity:0;
			}
		}
		@-o-keyframes press{
			0%{
				width:3rem;
				height:3rem;
				bottom:-2rem;
				opacity:0;
			}
			80%{
				width:2.5rem;
				height:2.5rem;
				bottom:1.3rem;
				opacity: 1;
			}
			100%{
				width:3rem;
				height:3rem;
				bottom:0;
				opacity:0;
			}
		}
		@-ms-keyframes press{
			0%{
				width:3rem;
				height:3rem;
				bottom:-2rem;
				opacity:0;
			}
			80%{
				width:2.5rem;
				height:2.5rem;
				bottom:1.3rem;
				opacity: 1;
			}
			100%{
				width:3rem;
				height:3rem;
				bottom:0;
				opacity:0;
			}
		}
	    .controller .btn{
	    	display: block;
			float: left;
			width:2.8rem;
			height:2.8rem;
			margin:.5rem;
			border-radius: 50%;
			background-color: #dc6161;
			border:.4rem solid #777272;
			border-radius: 50%;
			cursor: pointer;
	    }

	    .tips{
	    	position:absolute;
	    	width:10rem;
	    	height:3.5rem;
	    	font-size:.8rem;
	    	background-color: #F06E45;
	    	color:#fff;
	    	padding:.5rem;
	    	border-radius:1rem;
	    	right: -2rem;
	        bottom:6rem; 
	        z-index: 200;
	        opacity: 0;
	    }
	    .close{
	    	position: absolute;
	    	width:36.8rem;
	    	left:1.6rem;
	    	background-color:#504D4D;
	    	z-index: 100;
	    	transition: all 1s;
	    }
	    .close_top{
	    	top:1.6rem;
	    }
	    .close_bottom{
	       bottom:1.4rem;
	    }
	    .tv .close{
	    	height: 0;
	    }
	    .off .close{
	    	height:12.4rem;
	    }
	    .func{
	    	list-style-type: none;
            margin:5rem 0 0 .9rem;
	    	width:10rem;
	    	height:7rem;
	    }
	    .func li{
	    	font-size: 10px;
	    	color:#C7BFBF;
	    	float: left;
	    	text-align: center;
	    	margin:.2rem;
	    	line-height:1.6rem;
	    	width:4rem;
	    	height:2rem;
	    	background-color:rgb(125, 125, 140);
	    	border:.2rem solid #777272;
	    	border-radius: .4rem;
	    }
	    .func li:hover{
	    	background-color:#DCB2B5;
	    }
	    .controller .choosed{
	    	border: .2rem solid #D9D4D4;
	    }
	    .control{
	    	position: relative;
	    	width:8rem;
	    	height: 8rem;
	    	margin:0 auto;
	    }
	    .confirm{
	    	color:#B9AEAE;
	    	position: absolute;
	    	width:4rem;
	    	height:4rem;
	    	background-color: #F78383;
	    	border-radius: 50%;
	    	text-align: center;
	    	line-height:4rem;
	    	left:2rem;
	    	top:2rem;
	    	cursor: pointer;
	    	z-index: 100;
	    }
	    .dir{
	    	width:0;
	    	height: 0;
	    	color: #B9AEAE;
	    	font-weight: 600;
	    	position: absolute;
	    	border:4rem solid #7639EC;
	    	border-radius: 50%;
	    	cursor: pointer;
	    }
	    .dir span{
	    	z-index:10;
	    	text-align: center;
	    	position: absolute;
	    	width:3rem;
	    	height: 3rem;
	    	line-height:3rem;
	    	font-size:1.4rem;
	    	font-weight:600;
	    	color:#D2CBCB;
	    }
	    .dir:nth-of-type(2){
	    	border-color: #EB6868 transparent  transparent  transparent;
	    }
	    .dir:nth-of-type(2) span{
	     	top:-4rem;
	     	left:-1.6rem;
	     	opacity: 1;
	     }
	    .dir:nth-of-type(3){
	    	border-color:  transparent #F6775F transparent  transparent;
	    }
	    .dir:nth-of-type(3) span{
            left:1.1rem;
            top:-1.4rem;
	     }
	    .dir:nth-of-type(4) span{
            left:-1.6rem;
            top:1rem;
	     }
	    .dir:nth-of-type(5) span{
            left:-4rem;
            top:-1.4rem;
	     }
	    .dir:nth-of-type(4){
	    	color:#fff;
	    	border-color:transparent  transparent  #EAF095 transparent;
	    }
	    .dir:nth-of-type(5){
	    	color:#fff;
	    	border-color:transparent  transparent  transparent #5A976B;
	    }
	    .more{
	    	margin:3rem auto;
	    	width:10rem;
	    	height:2rem;
	    	color:#fff;
	    	border:.3rem solid #F77676;
            background-color: #C58C8C;
            border-radius:.5rem;
            text-align: center;
            line-height: 1.4rem;
	    }
	    .more:hover{
	    	box-shadow:0 0 1rem #EA3939;
	    	
	    }
	    .download{
	    	position: absolute;
	    	left:60rem;
	    	top:2rem;
	    	width:3rem;
	    	height:3rem;
	    	background-color: transparent;
	    	border:.3rem solid #777272;
	    	border-radius:1.5rem;
	    	overflow:hidden;
	    	color:#BEC4E0;
	    }
	    a:visited{
	    	color:#F67474;
	    }
	    a:active{
	    	color:#F65555;
	    }
	    .download i{
	    	position: absolute;
	    	width: 2.45rem;
	    	height: 2.45rem;
	    	background-image: url('images/download.png');
	    	background-size: cover;
	    }
	    .download span{
	    	width:3rem;
	    	height: 3rem;
	    	padding-left:3.4rem;
	    	line-height:2.4rem;
	    }
	    .download:hover{
	    	width:10rem;
	    }
	    .func .current{
	    	background-color: #EA8F8F;
	    }
	    .current:hover{
	    	background-color: #F54141;
	    }
	    .production{
	    	position: absolute;
	    	width:100%;
	    	top:0;
	    	background-color:rgb(102, 86, 123);
	    	padding-bottom: 10rem;
	    	-webkit-animation:showUp 1s ease-in-out 0.2s backwards;
	        -moz-animation:showUp 1s ease-in-out 0.2s backwards;
	        -o-animation:showUp 1s ease-in-out 0.2s backwards;
	        -ms-animation:showUp 1s ease-in-out 0.2s backwards;
            animation:showUp 1s ease-in-out 0.2s backwards;
	    	display: none;
	    }
	     @-webkit-keyframes showUp{
        0%{	
        	-webkit-transform:translateY(10rem);
        	opacity: 0;
        }
        100%{
        	-webkit-transform:translateY(0);
        	opacity: 1;
        }
        }
        @-moz-keyframes showUp{
        0%{	
        	-moz-transform:translateY(10rem);
        	opacity: 0;
        }
        100%{
        	-moz-transform:translateY(0);
        	opacity: 1;
        }
        }
        @-o-keyframes showUp{
        0%{	
        	-o-transform:translateY(10rem);
        	opacity: 0;
        }
        100%{
        	-o-transform:translateY(0);
        	opacity: 1;
        }
        }
        @-ms-keyframes showUp{
        0%{	
        	-ms-transform:translateY(10rem);
        	opacity: 0;
        }
        100%{
        	-ms-transform:translateY(0);
        	opacity: 1;
        	}
        }
        @keyframes showUp{
        0%{	
        	transform:translateY(10rem);
        	opacity: 0;
        }
        100%{
        	transform:translateY(0);
        	opacity: 1;
        }
        }
	    .header{
	    	position: relative;
	    	width: 100%;
	    	height:3rem;
	    	line-height: 3rem;
	    	border-bottom: .3rem solid #999797;
	    	background-color: #676fa0;
	    	box-shadow: 0 0.2rem 0.4rem  #595353;
	    	color: #fff;
	    }
	    .logo{
	    	width:2.8rem;
	    	height:2.8rem;
	    	border-radius:50%;
	    	margin-left: 12rem;
	    	border: .2rem solid #7C82A2;
	    	background-image: url('images/shade.jpg');
	    	background-size: cover;
	    }
	    	/*
	    	animation:bomb 1s linear infinite;
	    	-webkit-animation:bomb 2s linear infinite;
	    	-moz-animation:bomb 2s linear infinite;
	    	-ms-animation:bomb 2s linear infinite;
	    	-o-animation:bomb 2s linear infinite;
	    }

	    @keyframes bomb{
	    	0%{
	    		width:2.8rem;
	    		height:2.8rem;
	    		margin:0 0 0 12rem;
	    	}
	    	50%{
	    		width:2rem;
	    		height:2rem;
	    		margin:0.3rem 0 0 12.3rem;
	    	}
	    	100%{
	    		width:2.8rem;
	    		height: 2.8rem;
	    		margin:0 0 0 12rem;	    		
	    	}
	    }
	    	*/

	    .logo p{
	    	font-size: 1.3rem;
	    	position: absolute;
	    	padding-left:4rem;
	    	width:7rem;
	    	height:2.8rem;
	    	left:12rem;
	    	line-height: 2.5rem;
	    	overflow: hidden;
	    }
	    .logo p:hover{
	    	width:30rem;
	    }
	    .connect{
	    	position: absolute;
	    	width:30rem;
	    	height:2.8rem;
	    	margin-right:5rem;
	    	right: 0;
	    	top:0;
	    }
	    .wechat{
	    	margin-top:0.5rem;
	    	width:2rem;
	    	height:2rem;
	    	background-image: url('images/wechat.png');
	    	background-size:contain;
	    	background-repeat: no-repeat;
	    }
	    .wechat:after{
	    	position: absolute;
	    	content:'DY_Laputa';
	    	height:2.8rem;
	    	line-height: 2.4rem;
	    	top:0;
	     	left:3rem;
	    }
	    .mail{
	    	position: absolute;
	    	right:15rem;
	    	top:0;
	    	margin-top:0.4rem;
	    	width:2rem;
	    	height:2rem;
	    	background-image: url('images/mail.png');
	    	background-size:cover;
	    }
	    .mail:after{
	    	position: absolute;
	    	content:'acronyme@163.com';
	    	height:2.8rem;
	    	line-height: 2.4rem;
	     	left:3rem;
	     	top:-0.4rem;
	    }
	    .back{
	    	display:block;
	    	width:6rem;
	    	height: 3rem;
	    	margin:-0.1rem auto;
	    	text-align: center;
	    	line-height:3rem;
	    	color:#D0CDCD;
	    	background-color:  #676fa0;
	    	border:.3rem solid #999797;
	    	border-top: none;
	    	border-radius: .3rem;
	    	box-shadow: 0 0.2rem 0.2rem  #595353;
	    	cursor: pointer;
	    }
	    .works{
	    	width:64rem;
	    	margin:0 auto;
	    	margin-top:12rem;
	    }
	    .item{
	    	position: relative;
	    	width: 54rem;
	    	height:30rem;
	    	background-color: #CFC8C8;
	    	margin:0 auto;
	    	margin-top: 10rem;
	    	border:1rem solid #676fa0;
	    	border-radius:1rem;
	    	box-shadow: 0 0.3rem 1rem #676fa0;
	    }
	    .title{
	    	position: relative;
	    	width:25rem;
	    	height:7rem;
	    	border:1rem solid #676fa0;
	    	background-color: #fff;
	    	margin:0 auto;
	    	margin-top:-5rem;
	    	border-radius:1rem;
	    	text-align: center;
	    	line-height: 5rem;
	    	font-size:2.5rem;
	    	font-weight: 500;
	    	color:#676fa0;
	    } 
	    .item1_pic{
	    	position: absolute;
	    	left:-3rem;
	    	top:-3rem;
	    	width: 5rem;
	    	animation: rotate 5s linear infinite;
	    	-webkit-animation: rotate 5s linear infinite;
    	    -moz-animation: rotate 5s linear infinite;
    	    -o-animation: rotate 5s linear infinite;
    	    -ms-animation: rotate 5s linear infinite;
	    }
	    .item2_pic{
	    	position: absolute;
	    	left:7.5rem;
	    	top:-5rem;
	    	width: 6rem;
	    	animation: action 3s linear infinite;
	    	-webkit-animation: action 3s linear infinite;
    	    -moz-animation: action 3s linear infinite;
    	    -o-animation: action 3s linear infinite;
    	    -ms-animation: action 3s linear infinite;
	    }
	    .item3_pic{
	    	position: absolute;
	    	left:8rem;
	    	top:-6rem;
	    	width:6rem;
	    	animation: response 3s linear infinite;
	    	-webkit-animation: response 3s linear infinite;
	    	-moz-animation: response 3s linear infinite;
	    	-ms-animation: response 3s linear infinite;
	    	-o-animation: response 3s linear infinite;
	    }
	    .item4_pic_1{
	    	position: absolute;
	    	width: 5rem;
	    	top:-6rem;
	    	left:0;
	    }
	    .item4_pic_2{
	    	position: absolute;
	    	width:5rem;
	    	top:-6rem;
	    	right:0;
	    	opacity: 0;
	    	animation: show 2s linear infinite;
	    	-webkit-animation:  show 2s linear infinite;
	    	-moz-animation:  show 2s linear infinite;
	    	-ms-animation:  show 2s linear infinite;
	    	-o-animation:  show 2s linear infinite;
	    }

	    .arrow{
	    	position: absolute;
	    	width: 3rem;
	    	top:-5rem;
	    	left:6rem;
	    	animation: move 2s linear infinite;
	    	-webkit-animation:  move 2s linear infinite;
	    	-moz-animation:  move 2s linear infinite;
	    	-ms-animation:  move 2s linear infinite;
	    	-o-animation:  move 2s linear infinite;
	    }
	    @keyframes show{
	    	0%{opacity:0}
	    	100%{opacity:1}
	    }
	    @-webkit-keyframes show{
	    	0%{opacity:0}
	    	100%{opacity:1}
	    }
	    @-ms-keyframes show{
	    	0%{opacity:0}
	    	100%{opacity:1}
	    }
	    @-o-keyframes show{
	    	0%{opacity:0}
	    	100%{opacity:1}
	    }
	    @-moz-keyframes show{
	    	0%{opacity:0}
	    	100%{opacity:1}
	    }
	    @keyframes action{
	    	0%{left:5rem;}
	    	25%{left:8rem;}
	    	50%{left:13rem;}
	    	75%{left:8rem;}
	    	100%{left:5rem;}
	    }
	    @-webkit-keyframes action{
	    	0%{left:5rem;}
	    	25%{left:8rem;}
	    	50%{left:13rem;}
	    	75%{left:8rem;}
	    	100%{left:5rem;}
	    }
	    @-moz-keyframes action{
	    	0%{left:5rem;}
	    	25%{left:8rem;}
	    	50%{left:13rem;}
	    	75%{left:8rem;}
	    	100%{left:5rem;}
	    }
	    @-ms-keyframes action{
	    	0%{left:5rem;}
	    	25%{left:8rem;}
	    	50%{left:13rem;}
	    	75%{left:8rem;}
	    	100%{left:5rem;}
	    }
	    @-o-keyframes action{
	    	0%{left:5rem;}
	    	25%{left:8rem;}
	    	50%{left:13rem;}
	    	75%{left:8rem;}
	    	100%{left:5rem;}
	    }

	    @keyframes response{
	    	0%{
	    		width:6rem;
	    		top:-6rem;
	    		left:8rem;
	    	}
	    	50%{
	    		width:3rem;
	    		top:-3rem;
	    		left:9rem;
	    	}
	    	100%{
	    		width:6rem;
	    		top:-6rem;
	    		left:8rem;
	    	}
	    }
	    @-webkit-keyframes response{
	    	0%{
	    		width:6rem;
	    		top:-6rem;
	    		left:8rem;
	    	}
	    	50%{
	    		width:3rem;
	    		top:-3rem;
	    		left:9rem;
	    	}
	    	100%{
	    		width:6rem;
	    		top:-6rem;
	    		left:8rem;
	    	}
	    }
	    @-o-keyframes response{
	    	0%{
	    		width:6rem;
	    		top:-6rem;
	    		left:8rem;
	    	}
	    	50%{
	    		width:3rem;
	    		top:-3rem;
	    		left:9rem;
	    	}
	    	100%{
	    		width:6rem;
	    		top:-6rem;
	    		left:8rem;
	    	}
	    }
	    @-ms-keyframes response{
	    	0%{
	    		width:6rem;
	    		top:-6rem;
	    		left:8rem;
	    	}
	    	50%{
	    		width:3rem;
	    		top:-3rem;
	    		left:9rem;
	    	}
	    	100%{
	    		width:6rem;
	    		top:-6rem;
	    		left:8rem;
	    	}
	    }
	    @-moz-keyframes response{
	    	0%{
	    		width:6rem;
	    		top:-6rem;
	    		left:8rem;
	    	}
	    	50%{
	    		width:3rem;
	    		top:-3rem;
	    		left:9rem;
	    	}
	    	100%{
	    		width:6rem;
	    		top:-6rem;
	    		left:8rem;
	    		a}
	    }
	    @keyframes move{
	    	0%{left:6rem;}
	    	100%{left:12rem}
	    }
	    @-webkit-keyframes move{
	    	0%{left:6rem;}
	    	100%{left:12rem}
	    }
	    @-moz-keyframes move{
	    	0%{left:6rem;}
	    	100%{left:12rem}
	    }
	    @-o-keyframes move{
	    	0%{left:6rem;}
	    	100%{left:12rem}
	    }
	    @-ms-keyframes move{
	    	0%{left:6rem;}
	    	100%{left:12rem}
	    }
	    @keyframes rotate{ 
           	0% {transform:rotateZ(0deg)}
            50%{transform:rotateZ(180deg)}
            100%{transform:rotateZ(360deg)}
        }        
        @-webkit-keyframes rotate{
           	0% {-webkit-transform:rotateZ(0deg)}
            50% {-webkit-transform:rotateZ(180deg)}
            100% {-webkit-transform:rotateZ(360deg)}
        }        
        @-moz-keyframes rotate{
           	0% {-moz-transform:rotateZ(0deg)}
            50% {-moz-transform:rotateZ(180deg)}
            100% {-moz-transform:rotateZ(360deg)}
        }        
        @-ms-keyframes rotate{
           	0% {-ms-transform:rotateZ(0deg)}
            50% {-ms-transform:rotateZ(180deg)}
            100% {-ms-transform:rotateZ(360deg)}
        }        
        @-o-keyframes rotate{
           	0% {-o-transform:rotateZ(0deg)}
            50% {transform:rotateZ(180deg)}
            100% {-o-transform:rotateZ(360deg)}
        } 
        .cut{
        	width:8rem;
        	margin:5rem 0 0 3rem;
        	box-shadow: 0.7rem 0.7rem 0.6rem #625B5B;
        }
        .work_intro{
        	position: absolute;
        	width:13rem;
        	height:80%;
        	margin:3rem;
        	right:0;
        	top:0;
        }  
        .work_intro p{
        	margin-top:3rem;
        	margin-bottom:3rem;
        } 
        .item:nth-of-type(3) img:nth-of-type(2) {
        	margin-bottom:4rem;
        }

        .item:nth-of-type(3) img:nth-of-type(3) {
        	margin-bottom:5rem;
        }
        .psd{
	    	box-shadow:0.7rem 0.7rem 0.6rem #625B5B;

        }
        .psd:first-of-type{
        	width: 15rem;
        	margin-top:7rem;
        	margin-left:2rem;
        }
        .psd:nth-of-type(2){
        	width: 15rem;
        	margin-bottom:7.15rem;
        	margin-left:2rem;
        }
        .psd:last-of-type{
        	width:15rem;
        	margin-bottom:-1rem;
        	margin-left:-15.3rem;
        }
        .psd_title{
        	position: absolute;
        	left:7rem;
        	top:7rem;
        }
        .html_title{
        	position: absolute;
        	right:23rem;
        	top:7rem;
        }       
