* {
  box-sizing: border-box; 
  margin:0;
  padding: 0;
  overflow: hidden;
}
html,body {
  height:100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; 
}
a {
  text-decoration: none; }
a:hover {
 text-decoration: underline; }
.page-main{
  color: #fff;
  text-align: center;
  height: 100%;
  }
.main-content{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: #fff;
  height:50%;
}
.intro{
  position: relative;
  background: transparent;
  height:20%;
  text-align: center;
  top:0%;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: normal;
  color: #159957; }
.main-content span.items{
  position: relative; 
  display: inline-block;
  height: 100%;
  background: #1DE12D;
  text-align: center;
  flex-grow: 1;
  margin:.2em;
  color:red;
  transition:all .5s;}
.main-content span.medium_difficult{background:#EDE21D;}
.main-content span.items a{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);}
.main-content span.items:hover{
  flex-grow: 2;
  background:#fff;
  font-size:2em;
  font-weight: bold;
  color:#fff;}
.display{opacity:1 !important;}
.intro span{
  position: absolute; 
  width:80%;
  font-family:"微软雅黑";
  background: transparent;
  color:#383131;
  font-size:1em;
  opacity: 0;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  transition: opacity 1s;}
  .main-content,.intro {
    max-width: 80%;
    margin:0 auto;
   }
 .loading{
  position: absolute;
  z-index: 100;
  background:linear-gradient(60deg,#7983CA,#7CD574);
  width:100%;
  height: 100%;
  animation:fadein 3s linear 1; 
  animation-fill-mode: forwards;
}
.loading h1{
  font-family:"Arial";
  font-weight:530;
  color:#827D7D;
  opacity: .8;
  text-align: center;
  margin:0 auto;

}
@keyframes fadein{

0%{height:100%;}
25%{height:100%;}
50%{height:100%;}
75%{height:100%;}
100%{height:0;}
}
@keyframes loop{
  0%{transform:rotate(0deg);box-shadow:0 0 30px #fff;opacity:.6;}
  25%{transform:rotate(90deg);box-shadow:0 0 50px #fff;opacity:.8;}
  50%{transform:rotate(180deg);box-shadow:0 0 70px #fff;opacity:1;}
  75%{transform:rotate(270deg);box-shadow:0 0 50px #fff;opacity:.8;}
  100%{transform:rotate(360deg);box-shadow:0 0 30px #fff;opacity:.6;}
}
#music{
   position: fixed;
   border-radius: 50%;
   color:#fff;
   background:;
   box-shadow: 0 0 30px #fff;
   animation: loop 3s linear infinite;
   opacity:.6;
}
.menu ul li{
  list-style-type: none;
  border-radius:50%;
  color:#fff;
  opacity: .6;
  transition:all .3s;
}
.menu ul li a:visited{
  color:#fff;
}
.menu li:nth-of-type(1){
  background: #D84444;
}
.menu li:nth-of-type(2){
  background: #E92909;
}
.menu li:nth-of-type(3){
  background: #ECEA12;
}
.menu li:nth-of-type(4){
  background: #2DEA21;
}
.menu li:nth-of-type(5){
  background: #25B6BE;
}
.menu li:hover{
  background:transparent;
  transform: rotate(360deg);
}

@media screen and (min-width: 64em) {
  .loading h1{
  margin-top:2em;font-size:1.5em;line-height:1.9em;
   }
  .page-main{
    padding: 3em 5em; }
  .project-name {
    font-size: 3.25em; } 
  .project-tagline{
    font-size: 1.25em;
    padding: 1em;
     }
  .main-content,.intro {
    padding: 2em 6em;
    font-size: 1.1em; } 
  #music{
   width: 1.6em;
   height: 1.6em;
   line-height: 1.6em;
   text-align: center;
   right:1em;
   top:1em;
   font-size: 3em;
    }
  .menu ul{
  position:fixed;
  top:50%;
  transform: translateY(-50%);
  }
 .menu ul li{
   width:5em;
   height:5em;
   text-align: center; 
   line-height:5em;
   font-size:.7em;
 }
 .menu li:nth-of-type(2){
   margin-left:5em;
 }
 .menu li:nth-of-type(3){
   margin-left:7em;
 }
 .menu li:nth-of-type(4){
   margin-left:5em;
 }
 .menu li:hover{
   font-size:.9em;
 }
}


@media screen and (min-width: 42em) and (max-width: 64em) {
    .loading h1{
    margin-top:2em;font-size:1.4em;line-height:1.8em;
   }
  .page-main {
    padding: 1em 2em;
     } 
  .project-name {
    font-size: 2.45em;
  }
  .project-tagline {
    font-size: 1.15em;
    padding: 1em;
     } 
  .main-content,.intro {
    padding: 2em 2em;
    font-size: 1em; } 
  .intro span{
    font-size:.8em;
  }
  .main-content span.items:hover{
    font-size:1.5em;
  }
 #music{
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    text-align: center;
    right:.6em;
    top:.6em;
    font-size: 3em;
}
  .menu ul{
    position:fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
  }
 .menu ul li{ 
   width:5em;
   height:5em;
   text-align: center; 
   line-height:5em;
   font-size:.7em;
 }
 
 .menu li:nth-of-type(2){
 }
 .menu li:nth-of-type(3){
 }
 .menu li:nth-of-type(4){
 }
}
  @media screen and (max-width: 42em){
      .loading h1{
    margin-top:4em;font-size:1em;line-height:2em; 
   }
  .project-name {
    font-size: 1.4em;
    padding: .7em;
  }
  .project-tagline {
    font-size: 1em;
    padding: .4em;
     } 
  .main-content span.items{
    font-size:.5em;
  }
  .main-content,.intro {
    padding: 1em 1em;
    font-size: 1.1em; } 
  .main-content span.items:hover{
    font-size:.8em;
  }
  .intro span{
    font-size:.6em;
  }
   #music{
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    text-align: center;
    right:.2em;
    top:.2em;
    font-size: 3em;
 }
   .menu ul{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    justify-content: space-between;
  }
 .menu ul li{
   float:left;
   margin:0;
   width:4em;
   height:4em;
   text-align: center; 
   line-height:4em;
   font-size:.5em;
 }
 
 .menu li:nth-of-type(2){
 }
 .menu li:nth-of-type(3){
 }
 .menu li:nth-of-type(4){
 }
 }
   @media screen and (max-width: 26em){
  .project-name {
    font-size: 1em;
    padding: 1em;
  }
  .project-tagline {
    font-size: .7em;
    padding: .6em;
     } 
  .main-content span.items{
    font-size:.3em;
  }
  .main-content,.intro {
    padding: .6em .6em;
    font-size: .8em; } 
  .main-content span.items:hover{
    font-size:.6em;
  }
  #music{
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    text-align: center;
    right:0.4em;
    top:0.6em;
    font-size: 2em;
}
}
